* {
  font-family:"comic sans ms";
}

.flexboxholder {
  display:flex;
  text-align:left;
}

h1 {
  font-size:30px;
  color:red;
  background-color:black;
  padding:10px;
}

body {
  background-color:skyblue;
}

a:link, a:visited {
  text-decoration:none;
  color:white;
  background-color:midnightblue;
  padding:5px;
  transition-property:color,background-color;
  transition-duration:.25s;
  flex:1;
  text-align:center;
}

#map {
    height: 400px;
    width: 100%;
}
       
a:hover {
  color:midnightblue;
  background-color:red;
}

a:active {
  background-color:black;
  color:white;
}

p {
  color:white;
  text-indent:50px;
}

.mainbody {
  display:flex;
  flex-direction:row-reverse;
  color:white;
  margin-top:10px;
}

.maincolumn h1 {
  text-align:center;
  color:midnightblue;
  background-color:red;
}

.maincolumn {
  padding:25px;
  flex:3;
  background-color:red;
  margin-left:10px;
}

.mainsidebar {
  flex:1;
  background-color:black;
  padding:10px;
}

.additiontext {
  padding:20px;
  box-sizing:border-box;
  margin-bottom:20px;
  width:300px;
  background-color:red;
}

.flexboxaddition {
  max-width:800px;
  margin:40px auto 0 auto;
  display:flex;
  justify-content:space-between;
}

.btn{
  text-decoration:none;
  padding:1rem 2rem;
  border:white 1px solid;
  margin-top:40px;
}

h2 {
  color:midnightblue;
  text-align:center;
}


img {
  height:200px;
  width:200px;
  padding:15px;
}

button {
   background-color:blue;
   color:red;
}




