* {
  font-family:"comic sans ms";
}

.flexboxholder {
  display:flex;
  text-align:left;
}

h1 {
  font-size:30px;
  color:red;
}

body {
  background-color:skyblue;
}

a:link, a:visited {
  text-decoration:none;
  color:white;
  background-color:midnightblue;
  padding:5px;
  transition-property:color,background-color;
  transition-duration:.25s;
  flex:1;
  
}

a:hover {
  color:midnightblue;
  background-color:red;
}

a:active {
  background-color:black;
  color:white;
}
